{% extends 'Guest/Head.html'%}
{% load static %}
{% block content %}
<br><br><br><br>

    <div class="container">
        <form action="" method="post">
            {% csrf_token %}
            <table id="myTable" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Activity Code</th>
                        <th>Name</th>
                        <th>Oragnizer</th>
                        <th>Remarks</th>
                        <th>choose</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in data %}
                    <tr>
                        <td>{{i.code}}</td>
                        <td>{{i.name}}</td>
                        <td>{{i.created_by.first_name}} {{i.created_by.last_name}}</td>
                  
                        <td>
                            {% if i.description == null %}
                            <p>No Remarks</p>
                            {% else %}
                            {{i.description|linebreaks}}
                            {% endif %}
                        </td>
                        <td><input type="checkbox" name="activities" value="{{i.id}}" ></td>
                    </tr>
                    {% endfor %}
                
                <tr>
                    <td colspan="6"   align="right"><input type="submit" value="Next" name="btn"></td>
                </tr>
            </table>
            <!-- {% if messages %}
        {% for message in messages %}
        <div class="alert  {% if message.tags == 'success' %} alert-success {% elif message.tags == 'error' %} alert-danger  {% endif %} alert-dismissible fade show"
            data-timeout="3000" role="alert">
            {{message}}
            <button type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %} -->
            {% if mess == 1 %}
            <script>
                alert("This Event is Already Finished Try Any Other Events");
                window.location = "";
            </script>

            {% endif %}
            <!--  -->
            {% if messages %}
            {% for message in messages %}
            <div class="alert  {% if message.tags == 'success' %} alert-success {% elif message.tags == 'error' %} alert-danger {% elif message.tags == 'warning' %} alert-warning {% endif %} alert-dismissible fade show"
                data-timeout="3000" role="alert">
                {{message}}
                <button type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endif %}
        </form>
    </div>
    <script>
    </script>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock content %}