{% extends 'Organizer/Head.html' %}
{% load static %}

{% block content %}
<br><br><br><br>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Allocation Result</title>
</head>
<body>
    <h1>Allocation Result</h1>
    <p>{{ message }}</p>
    {% if allocations %}
        <h2>Allocated Participants</h2>
        {% for allocation in allocations %}
            <h3>Event: {{ allocation.event.name }}</h3>
            <ul>
                {% for participant in allocation.participants %}
                    <li>{{ participant.name }} ({{ participant.email }})</li>
                {% endfor %}
            </ul>
        {% endfor %}
    {% endif %}
</body>
</html>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock content %}