{% extends 'Organizer/Head.html' %}
{% load static %}

{% block content %}
<br><br><br><br>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Participant Allocation</title>
</head>

<body>
    <div class="container">
        <h1>Allocation for Event: {{ event.name }}</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Participant Name</th>
                    <th>Assigned Activity</th>
                    <th>Preferences</th>
                </tr>
            </thead>
            <tbody>
                {% for participant in participant_data %}
                <tr>
                    <td>{{ participant.name }}</td>
                    <td>{{ participant.assigned_to }}</td>
                    <td>{{ participant.preferences }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3">No participants have been allocated yet.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock content %}