{% extends 'Organizer/Head.html'%}
{% load static %}
{%  block content %}
<br><br><br><br>


    <form action="" method="post">
        {% csrf_token %}
        <table align="center" cellpadding="10">
            <tr>
                <td colspan="4" align="center">
                    <a href="{% url 'events' %}"><img src="{% static 'Img/add.png'%}">
                    <p>Create Activity</p>
                </a>
                </td>

            </tr>
           <tr>
            {% for i in data %}
              
            <td>
              <a href="{% url 'event_details' i.id %}" style="text-decoration: none;">
                <div style="text-align:center;border:1px solid black;margin:22px;padding:20px">

                    <p>code :{{i.code}}</p>
                    <p>{{i.name}}</p>
                  
                </div></a>
            </td>
            {% if forloop.counter|divisibleby:4 %}
        </tr>
        <tr>
            {% endif %}


            {% endfor %}
            
        </table>

       

    </form>
    <div class="container">
        <div class="row">
            <div class="col-md-12 justify-content-center d-flex mt-5">
                <a class="btn btn-sm btn-primary text-center " onclick="showAlertAndRedirect()" href="javascript:void(0);">Compute
                    Positive Pref. Activity</a> |
                <a class="btn btn-sm btn-primary text-center " href="{% url 'view_allocation' %}">Check
                    Positive Pref. Activity
                    Pick</a> |
                <a class="btn btn-sm btn-primary text-center " href="{% url 'edit_allocation' %}">Modify
                    Positive Pref. Activity
                    Pick</a> 
            </div>
            <div class="col-md-12 justify-content-center d-flex mt-5">
                <a class="btn btn-sm btn-primary text-center " onclick="showAlertAndRedirect1()" href="javascript:void(0);">Compute
                    Exclude Negative Pref.
                    Activity</a> |
                <a class="btn btn-sm btn-primary text-center " href="{% url 'view_allocation_new' %}">Check
                    Exclude Negative
                    Pref. Activity</a> |
                <a class="btn btn-sm btn-primary text-center " href="{% url 'edit_allocation_new' %}">Modify
                    Exclude Negative Pref.
                    Activity</a> 
            </div>
            <div class="col-md-12 justify-content-center d-flex mt-5">

                <a class="btn btn-sm btn-primary text-center " onclick="showAlertAndRedirect2()" href="javascript:void(0);">Compute
                    Maximize Total sum
                    pref. Value</a> |
                <a class="btn btn-sm btn-primary text-center " href="{% url 'view_allocation_max' %}">Check
                    Maximize Total sum
                    pref. Value</a> |
                <a class="btn btn-sm btn-primary text-center " href="{% url 'edit_allocation_max' %}">Modify
                    Maximize Total pref.
                    Value</a> 
                </div>
        </div>
    </div>

    {% if messages %}
    {% for message in messages %}
    <div class="alert  {% if message.tags == 'success' %} alert-success {% elif message.tags == 'error' %} alert-danger {% elif message.tags == 'warning' %} alert-warning {% endif %} alert-dismissible fade show"
        data-timeout="3000" role="alert">
        {{message}}
        <button type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}


    <script>
        function showAlertAndRedirect() {
            alert("Maximize Participants to positive preferred activities");
            window.location.href = "{% url 'allocate_participants' %}";
        }
        function showAlertAndRedirect1() {
            alert("Exclude negative preference");
            window.location.href = "{% url 'allocate_participants_new' %}";
        }
        function showAlertAndRedirect2() {
            alert("Maximize Participants to total preference value");
            window.location.href = "{% url 'allocate_activities_max' %}";
        }
    </script>
</body>
</html>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock content %}