{% extends 'Organizer/Head.html'%}
{% load static %}


{%  block content %}
<br><br><br><br>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <table id="myTable" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Email</th>
                    
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in data %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{user.participant.user}}</td>
                    <td>{{user.participant.email}}</td>
                    
                    <td>
                        
                    </td>
                </tr>
                {% endfor %}

            </table>
    </div>
</body>
</html>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock content %}